@inherits LayoutComponentBase
@using MudBlazor

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
	<MudPaper Elevation="20">
		<MudToolBar> @*modifty navbar!*@
			<MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" Class="mr-5" />
			<MudIconButton Icon="@Icons.Material.Outlined.Add" />
			<MudIconButton Icon="@Icons.Material.Outlined.Edit" />
			<MudIconButton Icon="@Icons.Material.Outlined.Remove" Color="Color.Inherit" />
			<MudIconButton Icon="@Icons.Material.Outlined.Settings" Color="Color.Inherit" />
			<MudSpacer />
			<MudIconButton Icon="@Icons.Material.Outlined.Notifications" />
			<MudIconButton Icon="@Icons.Material.Outlined.PushPin" />
			<MudIconButton Icon="@Icons.Material.Outlined.PeopleAlt" />
			<MudIconButton Icon="@Icons.Material.Outlined.MoreVert" Color="Color.Inherit" />
		</MudToolBar>
	</MudPaper>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>


</div> *@
